/* (C) 2016 Bogdan Gureev */

/*----------------------------------------------------------------------------*/

.filterTitle, .unavailableFilter, .emptyFilter {
	color: #000000;
	font-family: Arial;
	font-size: 13px;
	font-weight: bold;
	display: inline-block;
	margin: 0px;
	vertical-align: bottom;
	line-height: 30px;
}

.unavailableFilter {
	color: red;
}

.emptyFilter {
	color: green;
}

.scheduleButton, .customFilterButton {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #74ad5a), color-stop(1, #68a54b));
	background: -moz-linear-gradient(top, #74ad5a 5%, #68a54b 100%);
	background: -webkit-linear-gradient(top, #74ad5a 5%, #68a54b 100%);
	background: -o-linear-gradient(top, #74ad5a 5%, #68a54b 100%);
	background: -ms-linear-gradient(top, #74ad5a 5%, #68a54b 100%);
	background: linear-gradient(to bottom, #74ad5a 5%, #68a54b 100%);
	filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#74ad5a', endColorstr='#68a54b',GradientType=0);
	background-color: #74ad5a;
	color: #ffffff;
	padding: 6px 12px;
	cursor: pointer;
}

.scheduleButton, .customFilter, .customFilterButton {
	-moz-box-shadow: inset 0px 1px 0px 0px #9acc85;
	-webkit-box-shadow: inset 0px 1px 0px 0px #9acc85;
	box-shadow: inset 0px 1px 0px 0px #9acc85;
	border: 1px solid #3b6e22;
	display: inline-block;
	font-family: Arial;
	font-size: 13px;
	font-weight: bold;
	text-decoration: none;
	text-align: center;
}

.scheduleDropButton {
	-moz-box-shadow: inset 0px 1px 0px 0px #cf866c;
	-webkit-box-shadow: inset 0px 1px 0px 0px #cf866c;
	box-shadow: inset 0px 1px 0px 0px #cf866c;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #d0451b), color-stop(1, #bc3315));
	background: -moz-linear-gradient(top, #d0451b 5%, #bc3315 100%);
	background: -webkit-linear-gradient(top, #d0451b 5%, #bc3315 100%);
	background: -o-linear-gradient(top, #d0451b 5%, #bc3315 100%);
	background: -ms-linear-gradient(top, #d0451b 5%, #bc3315 100%);
	background: linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
	filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#d0451b', endColorstr='#bc3315',GradientType=0);
	background-color: #d0451b;
	border: 1px solid #942911;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-family: Arial;
	font-size: 13px;
	padding: 6px 6px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #854629;
}

.scheduleDropButton:hover {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bc3315), color-stop(1, #d0451b));
	background: -moz-linear-gradient(top, #bc3315 5%, #d0451b 100%);
	background: -webkit-linear-gradient(top, #bc3315 5%, #d0451b 100%);
	background: -o-linear-gradient(top, #bc3315 5%, #d0451b 100%);
	background: -ms-linear-gradient(top, #bc3315 5%, #d0451b 100%);
	background: linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
	filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#bc3315', endColorstr='#d0451b',GradientType=0);
	background-color: #bc3315;
}

.customFilter {
	display: inline-block;
	background-color: #F4F4F4;
	color: #000000;
	padding: 6px 0px;
}

.scheduleButton:hover, .customFilterButton:hover {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #68a54b), color-stop(1, #74ad5a));
	background: -moz-linear-gradient(top, #68a54b 5%, #74ad5a 100%);
	background: -webkit-linear-gradient(top, #68a54b 5%, #74ad5a 100%);
	background: -o-linear-gradient(top, #68a54b 5%, #74ad5a 100%);
	background: -ms-linear-gradient(top, #68a54b 5%, #74ad5a 100%);
	background: linear-gradient(to bottom, #68a54b 5%, #74ad5a 100%);
	filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#68a54b', endColorstr='#74ad5a',GradientType=0);
	background-color: #68a54b;
}

.scheduleButton:disabled, .scheduleDropButton:disabled, .customFilterButton:disabled, .customFilter:disabled {
	background: #B4B4B4;
	background-color: #B4B4B4;
	border: 1px solid #000000;
	color: #ffffff;
	-moz-box-shadow: inset 0px 1px 0px 0px #B4B4B4;
	-webkit-box-shadow: inset 0px 1px 0px 0px #B4B4B4;
	box-shadow: inset 0px 1px 0px 0px #B4B4B4;
	filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#B4B4B4', endColorstr='#B4B4B4',GradientType=0);
}

.mainTable, .customFilterButtons {
	text-decoration: none;
	padding: 0px;
	margin: 0px;
	min-width: 150px;
}

.mainTable > tbody > tr > td, .scheduleButtonsTable > tbody > tr > td {
	padding-top: 5px;
}

.scheduleButton, .scheduleDropButton, .customFilter, .customFilterButton, .filterTitle, .unavailableFilter, .emptyFilter {
	box-sizing: border-box;
	width: 100%;
	min-height: 30px;
	max-height: 30px;
}

.unavailableFilter {
	min-width: 250px;
}

.emptyFilter {
	min-width: 155px;
}

.scheduleButton {
	min-width: 200px;
}

.customFilterButton {
	min-width: 75px;
	max-width: 75px;
}

.scheduleDropButton {
	min-width: 25px;
	max-width: 25px;
}
